.btn_action{
	-fx-background-color:transparent;
}

.btn_action:hover{
	-fx-background-color:rgb(0,0,255);
}

#seleccionado{
    -fx-background-color:#00ff00;
}

.parte_cuerpo{
    -fx-opacity: 0;
}

.parte_cuerpo:hover{
    -fx-opacity: 1;
}